*.lnk

PakBuild/
PrivateMaps/
Resource/
Fall from Heaven 2.ini
FfH Editor.xlsm
icon.bmp
Readme 041.rtf

Assets/Pak0.FPK
Assets/XML/Scenarios/
Assets/*.bat
Assets/res/
Assets/sounds/*
!Assets/sounds/fw/
